{% extends "base.html" %}
{% load static %}

{% block description %}You can create an account on myshop store!{% endblock %}
{% block robots %}{% endblock %}
{% block keywords %}signup,myshop{% endblock %}
{% block css %}{% static "products/signup.css" %}{% endblock %}
{% block title %}Myshop SignUp{% endblock %}
{% block body %}

{% include "includes/nav.html" %}

<form class="form-decor" method="POST">
    {% csrf_token %}
    <label for="name">Full Name:</label><br>
    <input class="field" type="text" id="name" name="username"><br><br>

    <label for="email">Email:</label><br>
    <input class="field" type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input class="field" type="password" id="password" name="password1"><br><br>

    <label for="password2">Confirm Password:</label><br>
    <input class="field" type="password" id="password2" name="password2"><br><br>

    <input id="checkbox" type="checkbox" required />
    <label for="checkbox"> I agree to these <a href="#">Terms and Conditions</a></label><br><br>

    <button class="Signup-button" type="submit">Signup</button><br><br>
    <button class="Login-button" onclick="location.href='{% url 'login' %}'">Login</button>
</form>

{% endblock %}
